/* PC */
@media screen and (min-width: 992px) {
  .header {
    position: sticky;
    top: 1px;
    margin-top: 54px;
    z-index: 1000;
    padding: 16px 24px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: #fff;
  }
  .menu__tablet-mobile {
    display: none;
  }
  .hero {
    height: 100vh;
  }

  .navbar-mbtab {
    display: none;
  }

  .nav__button-tabmb {
    display: none;
  }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
  .navbar {
    display: none;
  }

  marquee {
    display: none;
  }

  .menu__tablet-mobile {
    width: 30px;
    height: 30px;
    color: black;
    margin-right: 50px;
    cursor: pointer;
  }

  .header__overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  .header {
    position: sticky;
    top: 1px;
    margin-top: 54px;
    padding: 16px 24px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: #fff;
    z-index: 5;
  }

  .header__drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background-color: #fff;
    z-index: 7;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }

  .header__button:checked ~ .header__overlay {
    opacity: 1;
    visibility: visible;
  }

  .header__button:checked ~ .header__drawer {
    transform: translateX(0);
  }

  .navbar-mbtab {
    padding: 60px;
  }

  .navbar-mbtab .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin-left: 0;
    gap: 10px;
    margin-top: 30px;
  }

  .navbar-mbtab .nav__item {
    padding: 8px 0;
  }

  .hero__right {
    right: 20px;
  }

  .hero__input {
    width: 385px;
    padding: 23px 150px 23px 23px;
  }

  .hero__button-email {
    right: 25px;
  }

  .section__heading,
  .section__desc {
    max-width: 400px;
  }

  .hero__right-decor-01 {
    right: -20px;
  }

  .hero__right-decor-03 {
    right: -23px;
  }

  .work__inner {
    flex-direction: column;
    /* align-items: center; */
  }

  .work__left {
    margin-top: -100px;
    align-self: center;
  }

  .work__right {
    margin-left: 0;
  }

  .work__left-container {
    margin-bottom: 30px;
  }

  .payments__inner {
    flex-direction: column;
  }

  .payments__inner-right {
    margin-left: 0;
  }

  .payments__inner-right {
    align-self: center;
  }

  .payments__decor-01 {
    right: -70px;
  }

  .payments {
    margin-top: 0;
  }

  .transfer__inner {
    flex-direction: column;
  }

  .transfer__payments-container {
    right: -95px;
  }

  .transfer__left {
    align-self: center;
  }

  .transfer__right {
    margin-top: 150px;
    margin-left: 0px;
  }

  .transfer__payments-money {
    right: -100px;
    top: -40px;
  }

  .testimo__list {
    display: flex;
    /* flex-direction: column */
    justify-content: center;
    scale: 0.6;
    gap: 10px;
    margin-top: 0;
  }

  .testimo__slider {
    margin-top: -50px;
  }
  /* Tablet-mobile */
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */
@media screen and (max-width: 767.98px) {
  .nav__button {
    display: none;
  }

  .label-menu {
    margin-right: 20%;
  }

  .hero__right-img {
    display: none;
  }

  .nav__button-tabmb {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 60px;
    margin-top: -40px;
  }

  .nav__button-tabmb::before {
    content: "";
    display: block;
    height: 3px;
    background-color: #ccc;
    margin-left: -100%;
  }

  .nav__signup {
    border: none;
    background-color: transparent;
    color: #212832;
    text-align: left;
    padding-left: 0;
  }

  .hero__right-decor-01 {
    top: -50px;
    right: 223px;
    scale: 0.6;
  }

  .hero__right-decor-02 {
    left: -145px;
    scale: 0.85;
  }

  .hero__right-decor-03 {
    bottom: -62px;
    left: -150px;
    scale: 0.8;
  }

  .work__inner {
    align-items: normal;
  }

  .work__left {
    scale: 0.75;
  }

  .payments__card {
    scale: 0.8;
  }

  .work__left-congratulation {
    right: -50px;
  }

  .payments__decor-01 {
    right: -10px;
    top: 75px;
  }

  .payments__decor-02 {
    right: 0;
  }

  .transfer__left {
    margin-top: -100px;
    scale: 0.8;
  }

  .transfer__payments-container {
    right: -55px;
  }

  .testimo {
    padding-left: 50px;
  }

  .testimo__heading {
    width: 370px;
  }

  .testimo__item {
    scale: 1.2;
    /* margin-left: 80px; */
  }

  .testimo__slider {
    /* margin-left: 80px; */
  }

  .testimo__item:last-child {
    display: none;
  }

  .testimo__desc::before {
    left: 70px;
  }

  .testimo__desc-bottom {
    max-width: 350px;
  }
}
