* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Common - Phần chung */
:root {
  --primary-color: #7264d6;
  --second-color: #212832;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", "Inter", sans-serif;
  color: #070052;
}
::selection {
  background-color: var(--second-color);
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Inter", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #070052;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  width: 149px;
  height: 58px;
  border-radius: 6px;
  background: var(--second-color);
  padding: 12px 28px;
}

.nav__signup,
.nav__loggin {
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8;
}

.section__heading {
  width: 500px;
  color: var(--second-color);
  font-family: "Open Sans";
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2;
}

.section__desc {
  width: 540px;
  margin-top: 20px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
}

/* ============================Header ================*/

.header {
  position: sticky;
  top: 1px;
  margin-top: 54px;
  z-index: 1000;
  padding: 16px 24px;
  background-color: rgba(114, 100, 214, 0.1);
  backdrop-filter: blur(10px);
  color: black;
}

.container__inner {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 47px;
  margin-left: 70px;
}

.nav__item-link {
  color: #696d76;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
}

.nav__item-link--active {
  position: relative;
  text-shadow: 1px 0px 0px #212832;
}

.nav__item:hover {
  text-shadow: 1px 0px 0px #212832;
}

.nav__item-link--active::after {
  position: absolute;
  bottom: -7px;
  left: 0;
  content: "";
  height: 2px;
  width: 45px;
  background-color: var(--second-color);
}

.nav__loggin {
  color: var(--second-color);
  margin-right: 28px;
}

.nav__signup {
  color: #fff;
}

.nav__button {
  margin-left: auto;
}

/* ================== HER0 ================== */
.hero {
  margin-top: 133px;
}

.hero__inner {
  position: relative;
  display: flex;
}

.hero__desc {
  position: relative;
  color: #696d77;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  margin-left: 30px;
}

.hero__desc::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  background: #696d77;
  top: 13px;
  left: -27px;
}

.hero__highlight {
  color: var(--primary-color);
}

.hero__input {
  margin-top: 40px;
  width: 540px;
  height: 74px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
  padding: 23px 180px 23px 23px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline-color: var(--primary-color);
}

.hero__email {
  position: relative;
}

.hero__button-email {
  position: absolute;
  bottom: 7px;
  right: 12px;
  line-height: 2;
  background-color: var(--primary-color);
}

.hero__note {
  margin-top: 20px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
}

.hero__right {
  top: -70px;
  right: 150px;
  position: absolute;
}

.hero__right-img {
  margin-left: 168px;
  width: 296px;
  height: 562px;
}

.hero__right-container {
  position: relative;
}

.hero__right-decor-01 {
  position: absolute;
  right: -160px;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #da6464;
}

.hero__right-bold {
  display: block;
  color: #fff;
  font-family: "Open Sans";
  font-size: 4.4rem;
  font-weight: 600;
}

.hero__right-normal {
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
}

.hero__right-decor-02 {
  position: absolute;
  left: 71px;
  top: 117px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 174px;
  height: 46px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero__right-desc {
  color: #31456a;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin-left: 8px;
}

.hero__right-price {
  color: #4ab5e3;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  margin-left: 19px;
}

.hero__right-decor-03 {
  position: absolute;
  right: -64px;
  bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 68px;
  border-radius: 10px;
  background: #439f90;
  padding: 20px 15px;
}

.hero__right-secured {
  margin-left: 11px;
}

.hero__right-secured-price {
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.hero__right-secured-desc {
  width: 64px;
  margin-top: 5px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
}

/* Work */
.work {
  margin-top: 189px;
}

.work__inner {
  display: flex;
}

.work__left {
  position: relative;
}

.work__left-background {
  width: 470px;
  height: 550px;
}

.work__left-people {
  position: absolute;
  left: 0;
  top: -69px;
  width: 456px;
  height: 619px;
}

.work__left-decor-container {
  position: absolute;
  top: 10px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: var(--primary-color);
  border-radius: 12px;
}

.work__left-decor01 {
  display: inline-block;
  padding: 8px;
  background-color: #fff;
  border-radius: 6px;
  width: 48px;
  height: 48px;
}

.work__left-congratulation {
  position: absolute;
  bottom: 90px;
  right: -90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
  width: 226px;
  height: 70px;
}

.work__left-check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4ab5e3;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  margin-right: 10px;
}

.work__left-decor02 {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 4px;
}

.work__left-congratulation-heading {
  color: var(--second-color);
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 600;
}

.work__left-congratulation-desc {
  margin-top: 5px;
  color: #696d76;
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 400;
}

.work__right {
  margin-left: 237px;
}

.work__right-heading {
  color: var(--second-color);
  font-family: "Open Sans";
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 70px;
}

.work__right-block {
  margin-bottom: 30px;
  width: 470px;
}

.work__right-block-heading {
  color: var(--second-color);
  font-family: "Open Sans";
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.5;
}

.work__right-block-desc {
  color: #696d76;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
}

/* Payments */
.payments {
  margin-top: 80px;
  padding-top: 80px;
}

.payments__inner {
  display: flex;
}

.payments__heading {
  width: 470px;
}

.payments__left-desc {
  margin-top: -50px;
  width: 470px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
}

.payment__list {
  margin-top: 28px;
  margin-bottom: 38px;
  margin-left: 20px;
}

.payments__item {
  position: relative;
  color: var(--second-color);
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.7;
  margin-bottom: 18px;
}
.payments__item::before {
  position: absolute;
  left: -20px;
  top: 8px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #7264d6;
}

.payments__btn {
  margin-top: 20px;
  padding: 15px 30px;
}

.payments__inner-right {
  padding-top: 80px;
  margin-left: 130px;
  position: relative;
}

.payments__decor-01 {
  position: absolute;
  top: 30px;
  right: -100px;
  display: flex;
  width: 276px;
  height: 86px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
  align-items: center;
  justify-content: space-between;
}

.paymentS__decor-01-left {
  display: flex;
  align-items: center;
}

.payments__card {
  display: inline-block;
  width: 482px;
  height: 322px;
}

.payments__decor-desc {
  color: #212832;
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 500;
}

.payments__decor-desc-wrap {
  color: #696d76;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
}

.payments__decor-01-right {
  padding-right: 13px;
}

.payments__price {
  color: var(--second-color);
  text-align: right;
  font-family: Inter;
  font-size: 1.6rem;
  font-weight: 600;
}

.payments__month {
  margin-top: 3px;
  display: block;
  color: #696d76;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
}

.payments__decor-02 {
  position: absolute;
  bottom: 0;
  right: -80px;
}

.payments__decor-02-container {
  width: 120px;
  height: 120px;
  border-radius: 16px;
  background: #439f90;
  padding: 15px;
}

.payments__decor-02-img {
  margin-bottom: 14px;
}

.payments__decor-02-desc {
  margin-bottom: 6px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.2rem;
  font-weight: 400;
}

.paymetns__decor-02-price {
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-weight: 600;
}

/* Transfer */
.transfer__inner {
  display: flex;
}

.transfer {
  margin-top: 160px;
  padding-top: 160px;
}

.transfer__left {
  position: relative;
}

.transfer__background {
  width: 470px;
  height: 432px;
  user-select: none;
}
.transfer__people {
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  width: 413px;
  height: 600px;
}

.transfer__payments-container {
  position: absolute;
  right: -150px;
  bottom: 60px;
  width: 281px;
  padding: 28px;
  background-color: #fff;
  filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
  z-index: 0;
}

.transfer__payments-money {
  position: absolute;
  right: -226px;
  top: 81px;
  z-index: 1;
}

.transfer__heading {
  color: #212832;
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.7;
}

.transfer__payments-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.transfer__right {
  margin-left: 270px;
}

.transfer__right-desc {
  margin-top: -100px;
}

.transfer__right-list {
  margin-top: 28px;
  margin-left: 20px;
}

.transfer__btn {
  margin-top: 38px;
  /* line-height: ; */
}

/* Testimo */
.testimo {
  margin-top: 80px;
  padding-top: 80px;
}

.testimo__header {
  text-align: center;
}

.testimo__desc {
  position: relative;
  color: #696d77;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  /* margin-left: 30px; */
}

.testimo__desc::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  background: #696d77;
  top: 13px;
  left: 500px;
}

.testimo__heading {
  margin-top: 12px;
  color: #212832;
  text-align: center;
  font-family: "Open Sans";
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
}

.testimo__desc-bottom {
  margin-top: 18px;
  width: 435px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  margin: 0 auto;
}

.testimo__list {
  position: relative;
  margin-top: 70px;
  margin-left: -100px;
  display: flex;
  margin-left: -10px;
}

.testimo__item {
  position: relative;
  margin: 0px -40px;
}

.testimo__content {
  position: absolute;
  top: 70px;
  left: 80px;
  width: 514px;
  color: #696d76;
  text-align: center;
  font-family: "Open Sans";
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5;
}

.testimo__container-img {
  position: relative;
  width: 104px;
  height: 104px;
  border-radius: 52px;
  background: #4ab5e3;
  overflow: hidden;
}

.testimo__container-img-2 {
  background-color: #439f90;
}

.testimo__img {
  position: absolute;
  bottom: -40px;
  left: -4px;
  width: 110.868px;
  height: 178.566px;
  object-fit: contain;
}

.testimo__info {
  position: absolute;
  bottom: -150px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.testimo__name {
  margin-top: 20px;
  color: #070052;
  font-family: "Open Sans";
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.4;
}

.testimo__job {
  margin-top: 2px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
}

.testimo__slider {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  gap: 10px;
}

.testimo__slider-item {
  margin-top: 150px;
  width: 30px;
  height: 6px;
  background-color: #9b9fab;
}

.testimo__slider-item--active {
  background-color: var(--primary-color);
}

/* Blog */
.blog {
  margin-top: 80px;
  padding-top: 80px;
}

.blog__header {
  display: flex;
  justify-content: space-between;
}

.blog__desc-bottom {
  width: 435px;
  font-size: 1.6rem;
}

.blog__header-right {
  margin-top: 40px;
}

.blog__header-right-btn {
  width: 123px;
}

.blog__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.blog__item {
  display: flex;
  align-items: center;

  width: 570px;
  border-radius: 12px;
  border: 1px solid #dfe2e8;
  background: #fff;
  padding: 28px;
  transition: all 0.3s ease-in-out;
}

.blog__item:hover {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
  transform: translate(0px, -16px);
  -webkit-transform: translate(0px, -16px);
  -moz-transform: translate(0px, -16px);
}

.blog__item-button:hover {
  color: var(--second-color);
  font-weight: bold;
}

.blog__item-img {
  display: inline-block;
  width: 160px;
  height: 160px;
}

.blog__item-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 22px;
}

.blog__item-date {
  margin-top: 10px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
}

.blog__item-heading {
  margin-top: 10px;
  color: var(--second-color);
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.7;
  width: 332px;
  height: 60px;
  -webkit-line-clamp: 2; /* Số dòng bạn muốn giới hạn */
  visibility: visible; /* Tránh bug không giới hạn số dòng được do trình duyệt */
  text-overflow: ellipsis;
  overflow: hidden;
}

.blog__item-button {
  margin-top: 20px;
  display: block;
  color: var(--primary-color);
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  transition: all 0.35s ease-in-out;
}

/* APP */
.app {
  margin-top: 80px;
  padding-top: 80px;
}

.app__inner-heading {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.app__inner {
  position: relative;
  background-color: var(--primary-color);
  padding: 100px 0;
  border-radius: 24px;
}

.app__inner-desc {
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
}

.app__inner-desc::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  background: #fff;
  top: 13px;
  left: -27px;
}

.app__inner-heading {
  margin-top: 12px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
}

.app__desc {
  width: 435px;
  margin-top: -62px;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
}

.app__download {
  margin-top: 38px;
  display: flex;
  justify-content: center;
}

.app__download-link {
  transition: all 0.35s ease-in-out;
}

.app__download-link:hover {
  transform: scale(1.2);
}

.app__img {
  margin-left: 23px;
  width: 182px;
  height: 64px;
}

.app__decor-01 {
  position: absolute;
  top: 55px;
  left: 85px;
}

.app__decor-02 {
  position: absolute;
  top: 55px;
  right: 85px;
}

.app__decor-03 {
  position: absolute;
  bottom: 55px;
  left: 145px;
}

.app__decor-04 {
  position: absolute;
  bottom: 55px;
  right: 145px;
}

/* Footer */
.footer {
  padding-top: 50px;
  margin-top: 50px;
  background: #fafbff;
}

.footer__inner {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer__menu-link {
  color: #6a6e78;
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
}

.footer__menu-active {
  color: #212832;
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.7;
  margin-bottom: 24px;
}

.footer__list-menu-item:first-child {
  margin-bottom: 24px;
}

.footer__list-menu-item {
  margin-bottom: 12px;
}

.footer__desc {
  width: 371px;
  color: #6a6e78;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.footer__item-2 {
  margin-top: 48px;
}

.footer__btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 12px 19px;
  line-height: 1.8;
  width: 113px;
  border-radius: 6px;
  margin-left: 20px;
}

.footer-input {
  display: flex;
  align-items: center;
}

.footer__input {
  width: 270px;
  height: 52px;
  padding: 12px;
}

.footer__btn-container {
  display: flex;
  justify-content: center;
  width: 113px;
  height: 52px;
}
